# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/target/

.settings/org.eclipse.core.resources.prefs

.settings/org.eclipse.jdt.core.prefs

.settings/org.eclipse.m2e.core.prefs

.project

.classpath

.settings/org.eclipse.wst.common.project.facet.core.xml
src/test/resources/Blank_A4_Landscape.pdf
src/test/java/CreatePdfReportServlet2.java
src/test/java/CreatePdfReportServlet.java
src/main/resources/static/js/11201709.pdf
