<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="acc_temp :: headerImp ('__会社基本情報__')"></head>
<body>
	<div th:replace="acc_temp :: accTopMenuArea"></div>
	<form name="companyBasicInfoForm" id="companyBasicInfoForm"
		method="POST" th:action="@{/company/update}"
		th:object="${companyBasicInfoForm}">
		<div class="centerDiv">
			<table class="table table-striped table-bordered">
				<tr>
					<th class="text-center"><span>会社基本情報</span></th>
				</tr>
			</table>
			<table class="table table-striped table-bordered vertical-middle">
				<tr>
					<th rowspan="23" class="text-center">会社情報</th>
					<th class="tdbg td2 text-center">法人名又は氏名</th>
					<td th:text="*{compName}" class="td8"></td>
				</tr>
				<tr>
					<th class="tdbg text-center">法人名又は氏名(ﾌﾘｶﾞﾅ)</th>
					<td th:text="*{compKana}"></td>
				</tr>
				<tr>
					<th class="tdbg text-center">〒</th>
					<td th:text="*{compZip1}+'-'+*{compZip2}"></td>
				</tr>
				<tr>
					<th rowspan="2" class="tdbg text-center">住所</th>
					<td th:text="*{compAdd1}" />
				</tr>
				<tr>
					<td th:text="*{compAdd2}" />
				</tr>
				<tr>
					<th rowspan="2" class="tdbg text-center">住所(ﾌﾘｶﾞﾅ)</th>
					<td th:text="*{compAdd1Kana}" />
				</tr>
				<tr>
					<td th:text="*{compAdd2Kana}" />
				</tr>
				<tr>
					<th class="tdbg text-center">電話番号</th>
					<td th:text="*{compTel1}+'-'+*{compTel2}+'-'+*{compTel3}"></td>
				</tr>
				<tr>
					<th class="tdbg text-center">事業区分</th>
					<td>
						<div th:switch="*{classification}">
							<span th:case="'0'">法人</span> <span th:case="'1'">個人</span>
						</div>
					</td>
				</tr>
				<tr>
					<th class="tdbg text-center">法人番号</th>
					<td th:text="*{corporationId}" />
				</tr>
				<tr>
					<th class="tdbg text-center"><span>事業主氏名 </span></th>
					<td th:text="*{corpOwnerName}" />
				</tr>
				<tr>
					<th class="tdbg text-center">事業主氏名(ﾌﾘｶﾞﾅ)</th>
					<td th:text="*{corpOwnerNameKana}" />
				</tr>
				<tr>
					<th class="tdbg text-center">事業所整理記号</th>
					<td th:text="*{corpSortNo1}+'-'+*{corpSortNo2}" />
				</tr>
				<tr>
					<th class="tdbg text-center">事業所番号</th>
					<td th:text="*{corpNo}" />
				</tr>
				<tr>
					<th class="tdbg text-center">事業種目</th>
					<td th:text="*{corpKind}" />
				</tr>
				<tr>
					<th class="tdbg text-center">締め日</th>
					<td>
						<div th:switch="*{deadlineDay}">
							<span th:case="true">末日</span> <span th:case="false"
								th:text="'末日以外('+*{deadlineAdjustDays}+'日)'"></span>
						</div>
					</td>
				</tr>
				<tr>
					<th class="tdbg text-center">支給日</th>
					<td>
						<div th:switch="*{paymentDay}">
							<span th:case="true">末日</span> <span th:case="false"
								th:text="'末日以外('+*{paymentAdjustDays}+'日)'"></span>
						</div>
					</td>
				</tr>
				<tr>
					<th class="tdbg text-center">経理責任者</th>
					<td th:text="*{accountingManager}" />
				</tr>
				<tr>
					<th class="tdbg text-center">利用者識別番号</th>
					<td th:text="*{userRecongId}"></td>
				</tr>
				<tr>
					<th class="tdbg text-center">利用者ID</th>
					<td th:text="*{userId}" />
				</tr>
				<tr>
					<th class="tdbg text-center">税理士・税務署</th>
					<td>税理士： <span th:text="*{taxAccountant}"></span> 税務署： <span
						th:text="*{taxOffice}"></span>
					</td>
				</tr>
				<tr>
					<th class="tdbg td2 text-center">データ共有ID</th>
					<td th:text="*{dataShareId}" />
				</tr>
				<tr>
					<th class="tdbg td2 text-center">会社コード</th>
					<td th:text="*{compCode}" />
				</tr>
			</table>
			<br />
			<table class="table table-striped table-bordered vertical-middle">
				<tr>
					<th rowspan="11" class="text-center">社会保険</th>
					<th class="tdbg td2 text-center">種別</th>
					<th class="tdbg td3 text-center">項目</th>
					<th class="tdbg td5 text-center">料率・端数処理</th>
				</tr>
				<tr>
					<th rowspan="2" class="tdbg text-center">雇用保険</th>
					<td class="text-center">被保険者負担率</td>
					<td th:text="*{employInsurRate}+'/1000'" />
				</tr>
				<tr>
					<td class="text-center">端数処理</td>
					<td>
						<div th:switch="*{employRounding}">
							<span th:case="'4'">50捨51入</span> <span th:case="'1'">切り捨て</span>
							<span th:case="'0'">切り上げ</span>
						</div>
					</td>


				</tr>
				<tr>
					<th rowspan="3" class="tdbg text-center">健康保険</th>
					<td class="text-center">保険料率（介護保険該当なし）</td>
					<td><span th:text="*{healthInsurRate}+'％'"></span></td>
				</tr>
				<tr>
					<td class="text-center">保険料率（介護保険該当者）</td>
					<td><span th:text="*{healthInsurRate2}+'％'"></span></td>
				</tr>
				<tr>
					<td class="text-center">端数処理</td>
					<td>
						<div th:switch="*{healthRounding}">
							<span th:case="'4'">50捨51入</span> <span th:case="'1'">切り捨て</span>
							<span th:case="'0'">切り上げ</span>
						</div>
					</td>
				</tr>
				<tr>
					<th rowspan="2" class="tdbg text-center">厚生年金</th>
					<td class="text-center">保険料率</td>
					<td><span th:text="*{welfareInsurance}+'％'"></span></td>
				</tr>
				<tr>
					<td class="text-center">端数処理</td>
					<td>
						<div th:switch="*{welfareRounding}">
							<span th:case="'4'">50捨51入</span> <span th:case="'1'">切り捨て</span>
							<span th:case="'0'">切り上げ</span>
						</div>
					</td>
				</tr>
				<tr>
					<th rowspan="3" class="tdbg text-center">厚生年金基金</th>
					<td class="text-center">基金免除保険料率</td>
					<td><span th:text="*{welfareExemptionRate}+'％'"></span></td>
				</tr>
				<tr>
					<td class="text-center">基金独自給付加算率(従業員負担分)</td>
					<td><span th:text="*{welfareAdditionRate}+'％'"></span></td>
				</tr>
				<tr>
					<td class="text-center">基金独自給付加算定額(従業員負担分)</td>
					<td><span th:text="*{welfareAdditionRation}+'円'"></span></td>
				</tr>
			</table>
			<table class="table table-striped">
				<tr>
					<td class="text-center"><input class="btn btn-info btn-sm"
						type="submit" name="submit" value="編集" /></td>
				</tr>
			</table>
		</div>
	</form>
</body>
</html>
