spring:
  datasource:
    username: postgres
    password: postgres00
    url: jdbc:postgresql://172.16.4.97:5432/postgres
    driver-class-name: org.postgresql.Driver

  thymeleaf:
    mode: HTML5
    encoding: UTF-8
    content-type: text/html
    cache: false

  messages:
    basename: messages

  mail:
    host: smtp14.gmoserver.jp
    port: 587
    username: accsystem@aliber.co.jp
    password: SE$OCbf4

server:
  contextPath: /accsystem

mybatis:
  typeAliasesPackage: jp.co.aliber.accsystem.entity
  mapperLocations: classpath:jp.co.aliber.accsystem.mapper/*.xml

logging:
  file: logs/accSystem.log
  pattern:
    console: "%d %-5level %logger : %msg%n"
    file: "%d %-5level [%thread] %logger : %msg%n"
  level:
    root: DEBUG
    org.springframework.web: DEBUG
    org.springframework.controllers: DEBUG
    org.hibernate: DEBUG