<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="acc_temp :: headerImp ('__従業員一覧__')">
</head>
<body>
	<div th:replace="acc_temp :: accTopMenuArea"></div>
	<div class="centerDiv">
		<table class="table table-striped">
			<tr>
				<th class="text-center">従業員一覧</th>
			</tr>
		</table>
		<table class="table table-striped">
			<tr>
				<th class="td1"><button type="button"
						class="btn btn-info btn-sm" id="add_btn">新規追加</button></th>
				<th class="td2">No.</th>
				<th class="td3">氏名</th>
				<th class="td4">部署</th>
			</tr>
			<tr th:each="TEmployee,iterStat : ${employeeInfoForm.employeeInfoList}">
				<td><button type="button" class="btn btn-info btn-sm"
						name="show_btn" th:id="${TEmployee.employeeId}">編集</button></td>
				<td th:text="${TEmployee.employeeNo}"></td>
				<td th:text="${TEmployee.lastName}+' '+${TEmployee.firstName}"></td>
				<td th:text="${TEmployee.deptName}"></td>
			</tr>
		</table>
	</div>
</body>
<script th:src="@{/js/employee_info.js}" type="text/javascript"></script>
</html>