.centerDiv {
	margin: 0 auto;
	width: 80%;
}

.td0 {
	width: 5%;
}

.td1 {
	width: 10%;
}

.td2 {
	width: 20%;
}

.td3 {
	width: 30%;
}

.td4 {
	width: 40%;
}

.tdbg {
	background: #CFDDFF
}

.ipwd {
	width: 75px
}

.vertical-middle {
	vertical-align: middle;
}