.centerDiv {
	margin: 0 auto;
	width: 80%;
}

.td0 {
	width: 5%;
}

.td1 {
	width: 10%;
}

.td2 {
	width: 20%;
}

.td3 {
	width: 30%;
}

.td4 {
	width: 40%;
}

.td5 {
	width: 50%;
}

.td8 {
	width: 80%;
}

.tdbg {
	background: #CFDDFF
}

.vertical-middle {
	vertical-align: middle !important;
}

.block-inline {
	display: inline-block;
}

ul {
	list-style-type: none;
	padding-left: 0px;
}

table.vertical-middle th {
	vertical-align: middle !important;
}

.inline-form-control {
	width: auto;
	display: inline-block;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow
		ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out
		.15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
}

/* error */
.error-box {
	margin: 0 auto 24px;
	border: 1px solid #bd2930;
	background-color: #f7e8e9;
}

.error-box p {
	margin: 0;
	padding: 24px 0;
	color: #bd2930;
	font-size: 1.4rem;
	font-weight: normal;
	text-align: center;
	font-weight: bold;
}

div.error-after {
	clear: both;
	display: block;
	padding-top: 6px;
}

div.error-after p {
	position: relative;
	display: inline-block;
	margin: 0 0 7px !important;
	padding: 4px 0.6em;
	background: #bd2930;
	color: #ffffff;
	font-weight: bold;
}

div.error-after p i {
	display: block;
	position: absolute;
	border: 5px solid transparent;
	-webkit-transform: scaleX(.6);
	transform: scaleX(.6);
	top: auto;
	bottom: -10px;
	border-top-color: #bd2930;
}