<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" lang="JA"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	th:lang="${lang}">
<head th:fragment="headerImp (title)">
<title th:text="${title}">title</title>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link href="./css/main.css" rel="stylesheet" type="text/css" />
<link href="./css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<script src="./js/ap_common.js" type="text/javascript"></script>
<script src="./js/jquery-3.2.1.min.js" type="text/javascript"></script>
<script src="./js/bootstrap.min.js" type="text/javascript"></script>
</head>
<body>
	<div th:fragment="accTopMenuArea">
		<div>
			<ul>
				<li><a href="company_info">会社データ管理機能</a></li>
				<li><a href="employee">従業員データ機能</a></li>
				<li><a href="salary">給与明細情報</a></li>
			</ul>
			<!-- END pan -->
		</div>
	</div>
	<div th:fragment="accBackButton">
		<div>
			<button type="button" class="btn btn-primary btn-sm"
				onclick="javascript:history.go(-1)">戻る</button>
		</div>
	</div>
</body>
</html>