<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="accTemp :: headerImp ('__新規ユーザー登録__')"></head>
<body>
	<div th:replace="accTemp :: accBackButton"></div>
	<form name="registerForm" id="registerForm" method="POST"
		th:action="@{/register/save}" th:object="${registerForm}">
		<div class="centerDiv">
			<table class="table table-striped table-bordered">
				<tr>
					<td class="text-center" colspan="4"><span>新規ユーザー登録</span></td>
				</tr>
			</table>
			<table class="table table-striped table-bordered">
				<tr>
					<td class="text-center td3"><span>姓<font
							color="#FF0000">※</font></span></td>
					<td>
						<div th:if="${#fields.hasErrors('lastName')}" class="error-after"
							style="display: block;">
							<p>
								<i></i>
								<th:block th:errors="*{lastName}"></th:block>
							</p>
						</div> <input type="text" th:field="*{lastName}" />
					</td>
				</tr>
				<tr>
					<td class="text-center td3"><span>姓（カナ）</span></td>
					<td>
						<div th:if="${#fields.hasErrors('lastNameKana')}"
							class="error-after" style="display: block;">
							<p>
								<i></i>
								<th:block th:errors="*{lastNameKana}"></th:block>
							</p>
						</div> <input type="text" th:field="*{lastNameKana}" />
					</td>
				</tr>
				<tr>
					<td class="text-center td3"><span>名<font
							color="#FF0000">※</font></span></td>
					<td>
						<div th:if="${#fields.hasErrors('firstName')}" class="error-after"
							style="display: block;">
							<p>
								<i></i>
								<th:block th:errors="*{firstName}"></th:block>
							</p>
						</div> <input type="text" th:field="*{firstName}" />
					</td>
				</tr>
				<tr>
					<td class="text-center td3"><span>名（カナ）</span></td>
					<td>
						<div th:if="${#fields.hasErrors('firstNameKana')}"
							class="error-after" style="display: block;">
							<p>
								<i></i>
								<th:block th:errors="*{firstNameKana}"></th:block>
							</p>
						</div> <input type="text" th:field="*{firstNameKana}" />
					</td>
				</tr>
				<tr>
					<td class="text-center td3"><span>アルファベット名</span></td>
					<td>
						<div th:if="${#fields.hasErrors('alphabetName')}"
							class="error-after" style="display: block;">
							<p>
								<i></i>
								<th:block th:errors="*{alphabetName}"></th:block>
							</p>
						</div> <input type="text" th:field="*{alphabetName}" />
					</td>
				</tr>
				<tr>
					<td class="text-center td3"><span>メールアドレス<font
							color="#FF0000">※</font></span></td>
					<td>
						<div th:if="${#fields.hasErrors('email')}" class="error-after"
							style="display: block;">
							<p>
								<i></i>
								<th:block th:errors="*{email}"></th:block>
							</p>
						</div> <input type="text" th:field="*{email}" />
					</td>
				</tr>
				<tr>
					<td class="text-center td3"><span>ユーザ名<font
							color="#FF0000">※</font></span></td>
					<td>
						<div th:if="${#fields.hasErrors('loginId')}" class="error-after"
							style="display: block;">
							<p>
								<i></i>
								<th:block th:errors="*{loginId}"></th:block>
							</p>
						</div> <input type="text" th:field="*{loginId}" />
					</td>
				</tr>
				<tr>
					<td class="text-center td3"><span>暗証番号<font
							color="#FF0000">※</font></span></td>
					<td>
						<div th:if="${#fields.hasErrors('password')}" class="error-after"
							style="display: block;">
							<p>
								<i></i>
								<th:block th:errors="*{password}"></th:block>
							</p>
						</div> <input type="password" th:field="*{password}" />
					</td>
				</tr>
			</table>
			<table class="table table-striped">
				<tr>
					<td class="text-center"><input class="btn btn-info btn-sm"
						type="submit" name="submit" value="登録" /></td>
				</tr>
			</table>
		</div>
	</form>
</body>
</html>
