<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="accTemp :: headerImp ('__給与明細一覧__')">
</head>
<body>
	<div th:replace="accTemp :: accBackButton"></div>
	<div class="centerDiv">
		<label for="exampleInputName2">給与明細一覧</label> <span
			class="monthly_statement_search_dataList_text"> <input
			type="text" id="freeWord" name="freeWord" value="" />
		</span>
		<button type="button" class="btn btn-info btn-sm" id="freeWordButton">検索</button>
		<button type="button" class="btn btn-info btn-sm"
			id="salaryDetailChange">明細入力</button>
		<button type="button" class="btn btn-info btn-sm" id="salaryPrint">印刷</button>
		<button type="button" class="btn btn-info btn-sm" id="sendMail">メール送信</button>
		<select id="salaryYear" name="salaryYear" class="form-control">
			<option th:each="year : ${salaryStatementForm.yearList}"
				th:value="${year}"
				th:selected="${salaryStatementForm.salaryYear} == ${year}"
				th:text="${year}"></option>
		</select> <select id="salaryMonth" name="salaryMonth" class="form-control">
			<option th:each="month : ${salaryStatementForm.monthList}"
				th:value="${month}"
				th:selected="${salaryStatementForm.salaryMonth} == ${month}"
				th:text="${month}"></option>
		</select>
	</div>
	<div class="centerDiv">
		<table class="table table-striped">
			<tr>
				<td class="td0 text-center"><button type="button"
						class="btn btn-info btn-sm" id="checkAll">全選択/解除</button></td>
				<td class="td1 text-center">No.</td>
				<td class="td2 text-center">氏名</td>
				<td class="td3 text-center">部署</td>
				<td class="td4 text-center">メールアドレス</td>
			</tr>
			<tr
				th:each="TEmployee,iterStat : ${salaryStatementForm.listTEmployee}">
				<td class="td0 text-center"><input name="salaryCheckBox"
					type='checkbox' th:value="${TEmployee.employeeId}" /></td>
				<td class="td1 text-center" th:text="${TEmployee.employeeNo}"></td>
				<td class="td2 text-center"
					th:text="${TEmployee.lastName} + ' ' +${TEmployee.firstName}"></td>
				<td class="td3 text-center" th:text="${TEmployee.deptId}"></td>
				<td class="td4 text-center" th:text="${TEmployee.mailAddress}"></td>
				<td><input type="hidden" name="employeeName"
					th:value="${TEmployee.lastName}+${TEmployee.firstName}" /></td>
			</tr>
		</table>
	</div>
	<input type="hidden" th:field=" ${salaryStatementForm.compId}" />
</body>
<script th:src="@{/js/salary_statement.js}" type="text/javascript"></script>
</html>