<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="acc_temp :: headerImp ('__給与明細一覧__')">
</head>
<body>
	<div th:replace="acc_temp :: accTopMenuArea"></div>
	<div class="centerDiv">
		<table class="table table-striped">
			<tr>
				<th class="text-center">給与明細一覧</th>
			</tr>
		</table>
		<label>氏名:</label><input type="text" id="freeWord" name="freeWord"
			value="" />
		<button type="button" class="btn btn-info btn-sm" id="freeWordButton">検索</button>
		<button type="button" class="btn btn-info btn-sm"
			id="salaryDetailChange">明細入力</button>
		<button type="button" class="btn btn-info btn-sm" id="salaryPrint">印刷</button>
		<button type="button" class="btn btn-info btn-sm" id="sendMail">メール送信</button>

		<select id="salaryYear" name="salaryYear" class="inline-form-control">
			<option th:each="year : ${salaryStatementForm.yearList}"
				th:value="${year}"
				th:selected="${salaryStatementForm.salaryYear} == ${year}"
				th:text="${year}"></option>
		</select> <select id="salaryMonth" name="salaryMonth"
			class="inline-form-control">
			<option th:each="month : ${salaryStatementForm.monthList}"
				th:value="${month}"
				th:selected="${salaryStatementForm.salaryMonth} == ${month}"
				th:text="${month}"></option>
		</select>
	</div>
	<div class="centerDiv">
		<table class="table table-striped vertical-middle">
			<tr>
				<th class="td0 text-center"><button type="button"
						class="btn btn-info btn-sm" id="checkAll">全選択/解除</button></th>
				<th class="td1 text-center">No.</th>
				<th class="td2 text-center">氏名</th>
				<th class="td3 text-center">部署</th>
				<th class="td4 text-center" colspan="2">メールアドレス</th>
			</tr>
			<tr
				th:each="TEmployee,iterStat : ${salaryStatementForm.listTEmployee}">
				<td class=" text-center"><input name="salaryCheckBox"
					type='checkbox' th:value="${TEmployee.employeeId}" /></td>
				<td class="text-center" th:text="${TEmployee.employeeNo}"></td>
				<td class="text-center"
					th:text="${TEmployee.lastName} + ' ' +${TEmployee.firstName}"></td>
				<td class="text-center" th:text="${TEmployee.deptId}"></td>
				<td class="text-center" th:text="${TEmployee.mailAddress}"></td>
				<td><input type="hidden" name="employeeName"
					th:value="${TEmployee.lastName}+${TEmployee.firstName}" /></td>
			</tr>
		</table>
	</div>
	<input type="hidden" th:field=" ${salaryStatementForm.compId}" />
</body>
<script th:src="@{/js/salary_statement.js}" type="text/javascript"></script>
</html>