<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="acc_temp :: headerImp ('__メール送信__')">
</head>
<body>
	<div class="container">
		<form name="sendMailForm" id="sendMailForm"
			th:action="@{/send_mail/send}" th:object="${sendMailForm}"
			method="post">
			<input type="hidden" name="sendMailStr" id="sendMailStr"
				th:value="${sendMailForm.sendMailStr}" /> <input type="hidden"
				th:field="${sendMailForm.compName}" /> <input type="hidden"
				th:field="${sendMailForm.compTel}" /> <input type="hidden"
				th:field="${sendMailForm.mailName}" /> <input type="hidden"
				th:field="${sendMailForm.compAddress}" /> <input type="hidden"
				th:field="${sendMailForm.salaryYear}" /> <input type="hidden"
				th:field="${sendMailForm.salaryMonth}" />

			<table class="table">
				<tr>
					<th>送信者名</th>
					<td><th:block th:text="${sendMailForm.compName}"></th:block><input
						type="hidden" id="Name" maxlength="30" th:value="${sendMailForm.compName}"/>
						<button type="button" class="btn btn-info btn-sm" id="sendMailBtn">送信開始</button></td>
				</tr>
				<tr>
					<th>作成方法</th>
					<td><input type="radio" name="BodyType" id="bodyType0"
						th:checked="${sendMailForm.bodyType} == 0" value="0" /><label
						for="bodyType0">自動入力</label> <input type="radio" name="BodyType"
						id="bodyType1" th:checked="${sendMailForm.bodyType} == 1"
						value="1" /><label for="bodyType1">手入力</label></td>
				</tr>
				<tr>
					<th>件名</th>
					<td><th:block th:text="${sendMailForm.mailName}" /></td>
				</tr>
				<tr>
					<th>本文</th>
					<td>
						<div>
							<span id="FixBody1">%従業員の氏名% %敬称%</span>
						</div>
						<div>
							<p>
								<th:block th:text="${sendMailForm.compName}" />
								です。明細書をお送りします。
							</p>
							<textarea rows="7" id="Body1"
								style="width: 485px; height: 90px; display: none;"></textarea>
						</div>
						<div>
							<p id="FixBody2">添付ファイルをクリックして、内容をご確認ください。</p>
						</div>
						<div>
							<textarea rows="7" id="Body2"
								style="width: 485px; height: 190px; display: none;"></textarea>
							<p id="AutoBody2" style="display: block;">
								以上の内容について覚えがない場合は<br />下記の連絡先まで、お問い合わせください。<br />よろしくお願いいたします。<br />------------------------------------------------------------<br />
								<th:block th:text="${sendMailForm.compAddress}" />
								<br />
								<th:block th:text="${sendMailForm.compName}" />
								<br />
								<th:block th:text="${sendMailForm.compTel}" />
								<br /> <br />--<br />------------------------------------------------------------<br />
							</p>
						</div>
					</td>
				</tr>
			</table>
		</form>
	</div>
</body>
<script th:src="@{/js/send_mail.js}" type="text/javascript"></script>
</html>